{% extends 'layouts::base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h2>Testing</h2>
    <div class="cat"> </div>
    <img src="{{ 'webpack.gif' | asset_image }}" alt=" ">
    {# <img src="{{ require("../images/foo.png") }}" alt=" "> #}
     
{% endblock %}